@model Librarian.Models.Book

@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

@section ModelList
{
    <div class="panel">
        <div class="panel-division">
            <div class="flex">
                <div class="ml-4">
                    <b>@Html.DisplayNameFor(model => model.ISBN) :</b>
                </div>
                <div class="ml-4">
                    @Html.DisplayFor(model => model.ISBN)
                </div>
            </div>
            <hr />
            <div class="flex">
                <div class="ml-4">
                    <b>@Html.DisplayNameFor(model => model.Title) :</b>
                </div>
                <div class="ml-4">
                    @Html.DisplayFor(model => model.Title)
                </div>
            </div>
            <hr />
            <div class="flex">
                <div class="ml-4">
                    <b>@Html.DisplayNameFor(model => model.AuthorID) :</b>
                </div>
                <div class="ml-4">
                    @Html.DisplayFor(model => model.AuthorID)
                </div>
            </div>
            <hr />
            <div class="flex">
                <div class="ml-4">
                    <b>@Html.DisplayNameFor(model => model.PublisherID) :</b>
                </div>
                <div class="ml-4">
                    @Html.DisplayFor(model => model.PublisherID)
                </div>
            </div>
        </div>
    </div>
    <div class="flex">
        <button class="ml-4" type="button">Edit</button>
        <button class="ml-4" type="reset">Back to List</button>
    </div>
}