@model IEnumerable<Librarian.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Content
{
    <div class="panel">
        <div class="panel-division">
            <a asp-action="Create"><i class="fas fa-plus"></i></a>
        </div>
        <div class="panel-division">
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ISBN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Publisher)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ISBN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author.AuthorId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Publisher.PublisherId)
                        </td>
                        <td class="flex">
                            <a class="ml-a" asp-action="Edit" asp-route-id="@item.BookId">Edit</a>
                            <a class="ml-4" asp-action="Details" asp-route-id="@item.BookId">Details</a>
                            <a class="ml-4" asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                        </td>
                    </tr>
                 }
            </table>
        </div>
    </div>
}