@model Librarian.Models.User

@{
    Layout = "_Layout";
    ViewData["Title"] = "Delete";
}

@section ModelList
    {
    <h3>Are you sure you want to delete this record?</h3>
    <div class="panel">
        <div class="panel-division">
            <div class="flex">
                <div class="ml-4">
                    <b>@Html.DisplayNameFor(model => model.FisrtName) :</b>
                </div>
                <div class="ml-4">
                    @Html.DisplayFor(model => model.FisrtName)
                </div>
            </div>
            <hr />
            <div class="flex">
                <div class="ml-4">
                    <b>@Html.DisplayNameFor(model => model.LastName) :</b>
                </div>
                <div class="ml-4">
                    @Html.DisplayFor(model => model.LastName)
                </div>
            </div>
            <hr />
            <div class="flex">
                <div class="ml-4">
                    <b>@Html.DisplayNameFor(model => model.PhoneNumber) :</b>
                </div>
                <div class="ml-4">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </div>
            </div>
            <hr />
            <div class="flex">
                <div class="ml-4">
                    <b>@Html.DisplayNameFor(model => model.Email) :</b>
                </div>
                <div class="ml-4">
                    @Html.DisplayFor(model => model.Email)
                </div>
            </div>
            <hr />
            <div class="flex">
                <div class="ml-4">
                    <b>@Html.DisplayNameFor(model => model.Adress) :</b>
                </div>
                <div class="ml-4">
                    @Html.DisplayFor(model => model.Adress)
                </div>
            </div>
        </div>
    </div>

    <form asp-action="Delete">
        <div class="flex">
            <input type="hidden" asp-for="RentalID" />
            <input type="submit" value="Delete" class="btn btn-default" />
            <button class="ml-4" type="reset">Back to List</button>
        </div>
    </form>
}