@model IEnumerable<Librarian.Models.User>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Books";
}

@section ModelList
    {
    <div class="panel">
        <div class="panel-division">
            <div class="panel-division">
                <button type="button">Create</button>
            </div>
        </div>
        <div class="panel-division dim">
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FisrtName)
                    </th>
                    <th class="ml-4">
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th class="ml-4">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th class="ml-4">
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th class="ml-4">
                        @Html.DisplayNameFor(model => model.Adress)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="ml-4">
                        @Html.DisplayFor(modelItem => item.FisrtName)
                    </td>
                    <td class="ml-4">
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td class="ml-4">
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td class="ml-4">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="ml-4">
                        @Html.DisplayFor(modelItem => item.Adress)
                    </td>
                    <td class="flex">
                        <button class="ml-a" type="button">Edit</button>
                        <button class="ml-4" type="button">Details</button>
                        <button class="ml-4" type="reset">Delete</button>
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
}
